@font-face {
  font-family: "Nunito";
  src:  url("/fonts/Nunito/Nunito-Regular.woff2") format("woff2"),
        url("/fonts/Nunito/Nunito-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:  url("/fonts/Poppins/Poppins-Regular.woff2") format("woff2"),
        url("/fonts/Poppins/Poppins-Regular.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Bold";
  src:  url("/fonts/Poppins/Poppins-Bold.woff2") format("woff2"),
        url("/fonts/Poppins/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}