.alert {
  padding: 20px;
  background-color: rgba(76, 55, 67, 0.7);
  color: white;
  border-radius: 10px;
  margin: 10px 0;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: white;
}