@import url('/css/base.css');
@import url('alert.css');

header {
  text-align: center;
  padding: 20px;
}

main {
  display: grid;
  grid-template-columns: minmax(250px, 9fr) minmax(50px, 1fr);
  max-width: 600px;
  gap: 10px;
}

main div {
  display: grid;
  place-items: center;
  background-color: rgba(52, 44, 39, .5);
  border-radius: 10px;
  padding: 8px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

aside {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(1fr, min-content) minmax(1fr, min-content) minmax(1fr, min-content);
  background-color: #342C27;
  border-radius: 10px;
}

aside div {
  display: grid;
  place-items: center;
  background-color: #342C27;
  border-radius: 10px;
  position: relative; /* Adiciona contexto de empilhamento */
  z-index: 1;
}

a {
  color: #c5bab5;
  /* text-decoration: none; */
}

.gitlab {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 3; /* Certifique-se de que a posição fixa tenha um z-index apropriado */
}

/* Tooltips */
aside div a {
  position: relative;
  z-index: 2; /* Garantir que o link tenha um z-index acima do container */
}

[data-tooltip]::after {
  position: absolute;
  content: attr(data-tooltip);
  opacity: 0;
  pointer-events: none;
  transform: translateX(-50%) translateY(-2rem);
  transition: all 150ms ease-in-out;
  top: -2.1rem;
  left: 50%; 
  display: inline-block;
  width: max-content;
  height: 2rem;
  line-height: 1rem;
  padding: 1ch;
  box-sizing: border-box;
  background-color: #323236;
  color: white;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 10;
}

[data-tooltip]:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

@media (max-width: 768px) {
  header { padding: 5px; }

  main {
    grid-template-columns: 1fr;
    max-width: 400px;
  }

  aside {
    grid-template-columns: repeat(5, 1fr);
  }

  p {
    font-size: .9rem;
  }
}
