@import url('fonts.css');

html {
  font-family: "Nunito", "Proxima Nova", system-ui, sans-serif;
  color: rgb(193, 195, 200);
  background-color: #17181C;
}

p {
  margin: 1em 0;
}

img.pasha {
  transition: all .7s ease;
}

img.pasha:hover {
  filter: invert(1);
}
