@import url('fonts.css');
@import url('links.css');

html {
  font-family: "Nunito", "Proxima Nova", system-ui, sans-serif;
  color: rgb(193, 195, 200);
  background-color: #17181C;
}

p {
  margin: 1em 0;
}

img.pasha {
  transition: all .2s ease;
}

img.pasha:hover {
  /* filter: invert(1); */
  filter: invert(71%) sepia(52%) saturate(450%) hue-rotate(151deg) brightness(106%) contrast(95%);
}
