@import "fonts";

$enable-gradients: true;
$enable-shadows: true;
// $offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

@import "bootstrap/scss/functions";

$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;

@import "bootstrap/scss/bootstrap";

html,
body,
#app {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Nunito", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  transition: all 500ms ease-in-out;
}

#app {
  width: 100%;
}

.semi {
  background: rgba(52, 58, 64, .25);
  border: 1px solid rgba(52, 58, 64, .5);
  backdrop-filter: blur(10px);
}

.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none;
}

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.bg {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200vh; /* Aumenta o tamanho com base na altura da viewport */
  height: 200vh; /* Para manter a proporção da imagem, faça a altura igual à largura */
  transform: translate(40%, 40%); /* Move o centro da imagem para o canto inferior direito */
  background-image: url('/images/bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  opacity: 0.1;  
}

svg {
  transition: all 300ms ease-in-out;
  // width: 100%;
  // height: 100%;
}
