---
import MainLayout from '../layouts/MainLayout.astro';

const meta = {
	description: "Oops! Parece que a página que você procura não foi encontrada!",
	title: "Oops! Página não encontrada.",
};
---

<!-- <MainLayout meta={meta}> -->
<MainLayout>
	<h1 class="title mb-6">Erro 404 | A página não foi encontrada</h1>
	<p class="mb-8">Use os links do menu para navegar pelo site</p>
	<div class="my-4 grid justify-center">
		<img alt="Bebê chorando ao lado de um PC"	loading="eager"	src="/img/404.jpg" />
	</div>
</MainLayout>
