---
import Base from "../layouts/base.astro";
import Header from "../components/header.astro";
import Icon from "../components/icon.astro";
import Background from "../components/background.astro";
---

<Base>
  <a href="https://gitlab.com/sistematico/paxa.dev" class="gitlab" target="_blank">
    <Icon name="gl" size="38" />
  </a>
  <div class="container">
    <Header />
    <main>
      <div>
        <p>          
          <h1>Contato</h1>
          <a href="mailto:paxa@paxa.dev?subject=Tenho%20interesse%20em%20desenvolver%20um%20site">e-mail</a>
        </p>
      </div>
      <aside>
        <div>
          <a href="https://wa.me//5567998552020?text=Tenho%20interesse%20em%20desenvolver%20um%20site" target="_blank">
            <Icon name="wa" />
          </a>
        </div>
        <div>
          <a href="https://sistematico.t.me/?text=Ol%C3%A1%20tudo%20bem" target="_blank">
            <Icon name="te" />
          </a>
        </div>
        <div>
          <a href="https://twitter.com/sistematico" target="_blank">
            <Icon name="tw" />
          </a>
        </div>
        <div>
          <a href="https://reddit.com/u/lsbrum" target="_blank">
            <Icon name="re" />
          </a>
        </div>
        <div>
          <a href="mailto:paxa@paxa.dev?subject=Tenho%20interesse%20em%20desenvolver%20um%20site">
            <Icon name="ma" />
          </a>
        </div>
      </aside>
    </main>
  </div>
  <Background />
</Base>

