---
import Base from "../layouts/base.astro";
import Header from "../components/header.astro";
import Icon from "../components/icon.astro";
import Background from "../components/background.astro";

// const title = import.meta.env.PUBLIC_APP_TITLE;
---

<Base>
  <a href="https://gitlab.com/sistematico/paxa.dev" class="gitlab" target="_blank">
    <Icon name="gl" size="38" />
  </a>
  <div class="container">
    <Header />
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      <strong>Atenção!</strong> Nosso blog <a href="https://blog.paxa.dev">está no ar</a>!
    </div>
    <main>
      <div>
        <p>
          Olá! Meu nome é Lucas, sou especialista em TypeScript, uso frameworks como Vue.js, Astro, React e runtimes como
          Bun e Node.js para criar aplicações web de visual refinado e alta performance.<br />
          <br />
          Sou usuário de Linux desde 1999 e tenho vasta experiência em administração
          de sistemas, garantindo soluções robustas, estáveis e seguras.<br />
          <br />
          Vamos juntos construir soluções inovadoras e impactantes!<br />
          <a href="/contato">Entre em contato</a>.<br />
          <br />
          Paxá<br />
          Full-Stack Web Developer
        </p>
      </div>
      <aside>
        <div data-tooltip="WhatsApp">
          <a href="https://wa.me//5567998552020?text=Tenho%20interesse%20em%20desenvolver%20um%20site" target="_blank">
            <Icon name="wa" />
          </a>
        </div>
        <div data-tooltip="Telegram">
          <a href="https://sistematico.t.me/?text=Ol%C3%A1%20tudo%20bem" target="_blank">
            <Icon name="te" />
          </a>
        </div>
        <div data-tooltip="X">
          <a href="https://twitter.com/sistematico" target="_blank">
            <Icon name="tw" />
          </a>
        </div>
        <div data-tooltip="Reddit">
          <a href="https://reddit.com/u/lsbrum" target="_blank">
            <Icon name="re" />
          </a>
        </div>
        <div data-tooltip="E-mail">
          <a href="mailto:paxa@paxa.dev?subject=Tenho%20interesse%20em%20desenvolver%20um%20site">
            <Icon name="ma" />
          </a>
        </div>
      </aside>
    </main>
  </div>
  <Background />
</Base>