---
import WelcomeLayout from '@layouts/Welcome.astro';
import Icon from '@components/Icon.astro';
---

<WelcomeLayout>
	<div class="grid grid-cols-1 md:grid-cols-2">
		<div class="grid justify-center text-center">
			<img class="object-scale-down h-48" src="/img/pasha.webp" alt="Paxá" />
			<h1 class="text-4xl">Paxá</h1>
			<h2 class="text-4xl">Desenvolvimento Web</h2>
		</div>
		<div>
			<Icon name="whatsapp" />
		</div>
	</div>
</WelcomeLayout>
