---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
	<img class="pasha float-right max-h-32 md:max-h-64" src="/img/pasha.png" alt="Paxá">
	<h1 class="text-3xl">Projetos</h1>
	<p>Em breve</p>
</MainLayout>