---
import MainLayout from '../layouts/MainLayout.astro';
import Card from '../components/Card.astro';
import projetos from '../data/projects.json';
---

<MainLayout>
	<div class="w-full">
		<h1 class="text-3xl">Projetos</h1>
			{projetos.map((p) => (
				<Card name={p.name} desc={p.desc} url={p.url} short={p.short} />
			))}
	</div>
</MainLayout>