@import "tailwindcss";

@theme {
  --color-foreground: #c0c5ce;
  --color-background: #343d46;
  --color-background-alt: #343d46;
}

body {
  @apply bg-background-alt text-foreground;
}

h1 {
  @apply text-4xl font-bold mb-4;
}

h2 {
  @apply text-3xl font-semibold mb-3;
}

p {
  @apply mb-2;
}
