@import url("./fonts.css");
@import "tailwindcss";

:root {
  /* --background: #121113; */
  --background: #252423;
  --primary: #1E90FF;
  --secondary: rgb(255, 75, 75);
  --secondary-background: #412726;
  --text-color: #FFFFFF;
}

body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  background: #121113;
  color: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-secondary-background: var(--secondary-background);
  --color-text: var(--text-color);
  --color-mint-500: oklch(0.72 0.11 178);
}

@view-transition {
  navigation: auto;
}

