/* *{
	font-family: Montserrat, sans-serif;
	font-size: 180px;
	font-weight: bold;
	box-sizing: border-box;
	margin: 0;
} */

/* body{
	width: 100vw;
	height: 100vh;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	margin: 0;
} */

.glitch{
	position: absolute;
	z-index: 1;
}

.glitch:before, .glitch:after{
	content: "404";
  	position: absolute;
  	left: 0;
	z-index: -1;
}

.glitch:before{
	color: blue;
	clip-path: polygon(0 0%, 100% 0%, 100% 66%, 0 66%);
	animation: slide-right .15s ease-in-out infinite;
}

.glitch:after{
	color: red;
	clip-path: polygon(0 33%, 100% 33%, 100% 100%, 0 100%);
	animation: slide-left .2s ease-in-out infinite;
}

@keyframes slide-left{
	to{
		transform: translateX(2px);
	}
}

@keyframes slide-right{
	to{
		transform: translateX(-2px);
	}
}

.offset{
	transform: translateX(-2px);
	animation: offset 2s ease infinite;
	background: black;
	position: absolute;
	z-index: 2;
	color: white;
}

@keyframes offset{
	from{
		clip-path: polygon(0 0%, 100% 0%, 100% 15%, 0 15%);
	} 50% {
		clip-path: polygon(0 85%, 100% 85%, 100% 100%, 0 100%);
	} to {
		clip-path: polygon(0 0%, 100% 0%, 100% 15%, 0 15%);
	}
}