---
import Social from './SocialLinks.astro';
const today = new Date();
---

<div class="container mx-auto">
	<footer class="flex justify-center">
		<div class="flex flex-col items-center">
			Feito com ❤️ por Lucas Saliés Brum.<br />
			<Social size="22" />
		</div>
	</footer>
</div>

<style>
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}

	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}

	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
