---
import HeaderLink from './HeaderLink.astro';
import Social from './SocialLinks.astro';
import { SITE_TITLE } from '../consts';
---

<header class="sticky top-0 w-full">
	<div class="border-b-4 border-indigo-400/[.4] py-3">
		<nav class="container mx-auto">
			<a class="flex items-center" href="/">
				<img class="object-scale-down h-10 me-2 pasha" src="/img/paxa.svg" alt="Paxá">
				<h3 class="text-3xl lowercase hidden md:inline">{SITE_TITLE}</h3>
			</a>
			<div class="internal-links">
				<HeaderLink href="/">Início</HeaderLink>
				<HeaderLink href="/projetos">Projetos</HeaderLink>
				<HeaderLink href="/posts">Blog</HeaderLink>
			</div>
			<Social />
		</nav>
	</div>
</header>

<style>
	header {
  	border-bottom: 1px solid transparent;
  	background-color: transparent;
  	-webkit-backdrop-filter: blur(16px);
  	backdrop-filter: blur(16px);
	}

	h2 {
		margin: 0;
		font-size: 1em;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.internal-links a {
		padding: 0 0.5em;
		border: none;
	}

	/* nav a {
		border-bottom: 4px solid transparent;
		text-decoration: none;
	} */

	/* nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	} */
</style>
