@font-face {
    font-family: 'Persian';
    src: url('PersianRegular.woff2') format('woff2'),
        url('PersianRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

