---
import '@styles/tailwind.css';
import BaseHead from '@components/BaseHead.astro';
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <BaseHead title="Paxá" />
  </head>
  <body class="bg-paxa-bg">
    <slot />
  </body>
</html>