---
import '@/styles/global.css';
import Head from '@/layouts/head.astro';

const title = import.meta.env.PUBLIC_APP_NAME;
const desc = import.meta.env.PUBLIC_APP_DESC;
const url = import.meta.env.PUBLIC_APP_URL;
---

<html lang="en">
	<Head title={title} desc={desc} url={url} />
	<body>
    <slot />
	</body>
</html>