---
const { title, desc, url } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/img/favicon-dark.svg" media="(prefers-color-scheme: light)" />
  <link rel="icon" href="/img/favicon-light.svg" media="(prefers-color-scheme: dark)" />
  <meta name="viewport" content="width=device-width" />
  <title>{title}</title>
  <meta property="og:title" content={title} />
  <meta property="og:description" content={desc} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content={url} />
  <meta property="og:image" content=`${url}/img/ogp.png` />
</head>
