---
import BaseLayout from '@layouts/Base.astro';
---

<BaseLayout>
  <div class="w-full">
    <main class="w-full flex flex-col h-screen content-center justify-center">
      <div class="w-full sm:w-1/2 lg:w-1/3 m-auto">
        <div class="bg-gray-800 rounded shadow px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <slot />
        </div>
      </div>
    </main>
  </div>
</BaseLayout>
